
  <header class="fixed-top header">
    <!-- top header -->
    
    <!-- navbar -->
    <div class="navigation w-100">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
          <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
          <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto text-center">
              <li class="nav-item @@home">
                <a class="nav-link" href="/student-index">Home</a>
              </li>
              <li class="nav-item @@about">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="/contactus">CONTACT</a>
              </li>
              <li class="nav-item dropdown view">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Events
                </a>
               
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                  <a class="dropdown-item" href="/studentevent/1">Sports</a>
                  <a class="dropdown-item" href="/studentevent/2">Science Tech</a>
                  <a class="dropdown-item" href="/studentevent/3">Technical</a>
                  
                
                  
                </div>
                
              
              </li>
              
              <li class="nav-item dropdown view">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/studentprofile">My Profile</a>
                  <a class="dropdown-item" href="/studentchangePassword">Change Password</a>
                  <a class="dropdown-item" href="/studentForgotPassword">Forgot Password</a>
                  <a class="dropdown-item" href="/viewbookedevent">Booked Events</a>
                  <a class="dropdown-item" href="/studentlogout">Logout</a>
                  
                </div>
              </li>
              
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>